<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Together Culture</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Together Culture</h1>
        <nav>
          <ul>
            <li><a href="{% url 'events' %}">Events</a></li>
            <li>
              {% if user.is_authenticated %} {% if not user.is_superuser %}
              <a href="{% url 'membership' %}">Membership</a>
              {% endif %} {% else %}
              <!-- Guest sees the membership link -->
              <a href="{% url 'membership' %}">Membership</a>
              {% endif %}
            </li>
            {% if user.is_authenticated and user.is_superuser %}
            <li><a href="{% url 'user' %}">Users</a></li>
            {% endif %}
            <li><a href="{% url 'digital' %}">Resources</a></li>
            {% if user.is_authenticated %}
            <li>
              <div class="dropdown">
                <button class="dropbtn">{{ user.username }}</button>
                <div class="dropdown-content">
                  {% if not user.is_superuser %}
                  <a href="{% url 'profile' %}">Profile</a>
                  {% endif %}
                  <a href="{% url 'logout' %}">Logout</a>
                </div>
              </div>
            </li>
            {% else %}
            <li id="user-link">
              <a href="{% url 'loginpage' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </header>

      <div class="users-admin">
        <div class="users-portal">
          <div class="user-members">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-people-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"
                />
              </svg>
            </div>
            <div>
              <h6>Total Members</h6>
              <h6>78</h6>
            </div>
          </div>
          <div class="user-members">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-people-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"
                />
              </svg>
            </div>
            <div>
              <h6>Active Members</h6>
              <h6>16</h6>
            </div>
          </div>
        </div>
        <div class="member-activity">
          <div>
            <h3>Recent Member Activity</h3>
          </div>
          <div class="search-filter-container">
            <div class="search-bar">
              <input type="text" placeholder="Search..." />
              <button>Search</button>
            </div>
            <div class="user-filter">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-funnel-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"
                />
              </svg>
              <p>Filter</p>
            </div>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>Members</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="member-name">
                <img
                  src="https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg?auto=compress&cs=tinysrgb&w=600"
                  alt="Profile Image"
                  class="member-img"
                />
                <div>
                  <p style="font-size: 12px">Alice</p>
                  <p style="font-size: 12px; color: gray">alice@gmail.com</p>
                </div>
              </td>
              <td>Active</td>
              <td>
                <button class="edit-button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pencil-square"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
                    />
                  </svg>
                  Edit
                </button>
              </td>
            </tr>
            <!-- Add more rows as needed -->
          </tbody>
        </table>
        <div style="margin: 10px; margin-top: 20px">
          <h4>New Membership Request</h4>
        </div>
        <div class="card">
          <img
            src="https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="Profile Image"
          />
          <div class="info">
            <p>John Doe</p>
            <p style="color: gray">john.doe@example.com</p>
          </div>
          <div class="buttons">
            <button class="approve-button">Approve</button>
            <button class="reject-button">Reject</button>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; 2025 TogetherCulture. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
