<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Together Culture</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo">
          <h1>Together Culture</h1>
        </div>
        <nav>
          <ul>
            <li><a href="{% url 'events' %}">Events</a></li>
            <li>
              {% if user.is_authenticated %} {% if not user.is_superuser %}
              <a href="{% url 'membership' %}">Membership</a>
              {% endif %} {% else %}
              <!-- Guest sees the membership link -->
              <a href="{% url 'membership' %}">Membership</a>
              {% endif %}
            </li>
            {% if user.is_authenticated and user.is_superuser %}
            <li><a href="{% url 'user' %}">Users</a></li>
            {% endif %}
            <li><a href="{% url 'digital' %}">Resources</a></li>
            {% if user.is_authenticated %}
            <li>
              <div class="dropdown">
                <button class="dropbtn">{{ user.username }}</button>
                <div class="dropdown-content">
                  {% if not user.is_superuser %}
                  <a href="{% url 'profile' %}">Profile</a>
                  {% endif %}
                  <a href="{% url 'logout' %}">Logout</a>
                </div>
              </div>
            </li>
            {% else %}
            <li id="user-link">
              <a href="{% url 'loginpage' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </header>

      <main class="dashboard-main">
        <div class="dashboard-welcome-message">
          <h1>WELCOME</h1>
          <h2>To Together Culture</h2>
        </div>
      </main>

      <footer>
        <p>&copy; 2025 TogetherCulture. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
