<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Together Culture</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <header class="dashboard-header">
        <div class="logo">
          <h1>Together Culture</h1>
        </div>
        <nav>
          <ul>
            <li><a href="#">Events</a></li>
            <li><a href="#">Membership</a></li>
            <li><a href="#">users</a></li>
            <li><a href="#">Resources</a></li>
            <li id="user-link"><a href="{% url 'login' %}">Login</a></li>
          </ul>
        </nav>
      </header>

      <main class="dashboard-main">
        <div class="dashboard-welcome-message">
          <h1>WELCOME</h1>
          <h2>To Together Culture</h2>
        </div>
      </main>

      <footer>
        <div class="footer-content">
          <div class="footer-left">
            <form id="signup-form">
              <input type="text" placeholder="First Name" required />
              <input type="text" placeholder="Last Name" required />
              <input type="email" placeholder="Email Address" required />
              <div class="button-group">
                <button type="submit">Sign Up</button>
                <button type="button" class="contact-us">Contact Us</button>
              </div>
            </form>
          </div>
          <div class="footer-right">
            <div class="social-icons">
              <a href="#"
                ><img src="{% static 'images/instagram.png' %}" alt="Instagram"
              /></a>
              <a href="#"
                ><img src="{% static 'images/whatsapp.png' %}" alt="WhatsApp"
              /></a>
            </div>
            <div class="footer-bottom">
              <p>&copy; 2025 TogetherCulture. All rights reserved.</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var urlParams = new URLSearchParams(window.location.search);
        var username = urlParams.get("username");
        if (username) {
          var userLink = document.getElementById("user-link");
          userLink.innerHTML = '<a href="/profile/">' + username + "</a>";
        }
      });
    </script>
  </body>
</html>
